:root {
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #eb4a4a;
	--second-color: #dcdcdc;
	--third-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

/* Header */

header {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
  	backdrop-filter: blur(2px);
	padding: 32px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}

header.sticky {
	padding: 10px 16%;
	border-bottom: 1px solid #0e1630;
	transition: .3s;
	background: rgba(235,74,74,.03);
}

.logo img {
	width: 135px;
	height: auto;
}

.navbar {
	display: flex;
}

.navbar a {
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: .5rem;
	transition: all .40s ease;
}

.navbar a:hover {
	background: var(--main-color);
	color: var(--text-color);
}

#menu-icon {
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

/* Home */

section {
	padding: 160px 16% 90px;
}

.home {
	height: 100vh;
	width: 100%;
	position: relative;
	background: url(../img/bg1.svg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: 2s;

	animation-name: animate;
	animation-direction: alternate-reverse;
	animation-duration: 60s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function:ease-in-out;
}

@keyframes animate {
	0% {
		background-image: url(../img/bg2.svg);
	}

	20% {
		background-image: url(../img/bg3.svg);
	}

	40% {
		background-image: url(../img/bg4.svg);
	}

	60% {
		background-image: url(../img/bg5.svg);
	}

	80% {
		background-image: url(../img/bg6.svg);
	}

	100% {
		background-image: url(../img/bg7.svg);
	}
}

.home-text h1 {
	margin: 20px 0;
	font-size: var(--h1-font);
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 2px;
}

span {
	color: var(--main-color);
}

.home-text h4 {
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
}

.home-text h3 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 3rem;
}

.btn {
	display: inline-block;
	padding: 14px 40px;
	border-radius: 0.5rem;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: all .40s ease;
}

.btn:hover {
	transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 1px solid var(--main-color);
}

/* Acerca de mí */

.location {
	display: flex;
	gap: 10px;
	align-items: center;
}

.location img {
	height: 30px;
	width: 30px;
}

.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 6rem;
}

.about-img img {
	height: auto;
	width: 100%;
	max-width: 460px;
}

.about-text h4 {
	margin: 10px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
	margin: 1rem 0;
}

.about-text h2 {
	font-size: var(--h2-font);
}

.about-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}